{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "react/jsx-max-props-per-line": [2, {"maximum": 1, "when": "always" }],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-one-expression-per-line":["error"],
    "array-bracket-spacing": ["error", "never"],
    "eqeqeq": "warn",
    "quotes": [
      "warn",
      "single"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "curly": [
      "error"
    ],
    "no-param-reassign": [
      "error"
    ],
    "no-useless-concat": [
      "error"
    ],
    "yoda": [
      "error"
    ],
    "max-depth": [
      "warn"
    ]
  }
}
